---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import Clients from '../components/Clients.astro';
import Quality from '../components/Quality.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { content } from '../content/de.ts';
---

<BaseLayout 
  title={content.meta.title}
  description={content.meta.description}
>
  <Header />
  
  <main>
    <Hero />
    <About />
    <Quality />
    <Services />
    <Process />
    <Clients />
    <Contact />
    </main>

  <Footer />
</BaseLayout>